header {
  background-color: $tertiary;
  .wrapper {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
  }
}
.headerImgContainer {
  width: 48%;
}

.textContainer {
  width: 48%;
}
