//Skip link

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: $solidWhite;
  color: #000;
  z-index: 10;

  &:focus {
    left: 0;
  }
}

//Announcements

.announcements {
  text-align: center;
  padding: 10px 0;
}

// Nav Bar

.navBar {
  position: sticky;
  top: 0;
  border-top: 1px solid rgba(8, 75, 109, 0.08);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
}

//Slide Out Nav

.slideOutNav {
  background-color: $primary;
}

//Search Cart
.searchCart {
  display: flex;
  align-items: center;

  .menuIcon,
  .bag {
    margin-right: 15px;
  }

  .menuIcon {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .counter p {
    width: 24px;
    height: 24px;
    background: $primary;
    border-radius: 50%;
    color: $solidWhite;
    text-align: center;
  }
}
