//Skip link

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: $solidWhite;
  color: #000;
  z-index: 10;

  &:focus {
    left: 0;
  }
}

//Announcements

.announcements {
  text-align: center;
  padding: 10px 0;
}

// Nav Bar

.navBar {
  position: sticky;
  top: 0;
  border-top: 1px solid rgba(8, 75, 109, 0.08);
  background-color: $solidWhite;
  z-index: 10;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  label {
    cursor: pointer;
  }

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;

    &:checked ~ .slideOutNav {
      left: 0;
    }
  }
}

//Slide Out Nav

.slideOutNav {
  background-color: $primary;
  position: fixed;
  top: 0;
  left: -506px;
  height: 100vh;
  width: 100%;
  max-width: 506px;
  color: $solidWhite;
  font-family: $headingFont;
  padding: 35px 50px;
  transition: 0.3s;
}

.mainMenu {
  a {
    font-family: $headingFont;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: rgba($color: $solidWhite, $alpha: 1);
    transition: 0.3s;

    &:hover,
    &:focus {
      color: rgba($color: $solidWhite, $alpha: 0.5);
    }
  }
}

.menuClose {
  color: $solidWhite;
  font-size: 1.2rem;
  font-family: $bodyFont;
  text-align: right;
  display: block;
}

//Search Cart
.searchCart {
  display: flex;
  align-items: center;

  .menuIcon,
  .bag {
    margin-right: 15px;
  }

  .counter p {
    width: 24px;
    height: 24px;
    background: $primary;
    border-radius: 50%;
    color: $solidWhite;
    text-align: center;
  }
}
