//Categories

.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .itemOne {
    background-color: $quinary;
  }

  .itemTwo {
    background-color: $secondary;
  }

  .itemThree {
    background-color: $tertiary;
  }

  .itemFour {
    background-color: $quaternary;
  }

  .items {
    border-radius: 10%;
    width: calc(45% - 50px);
    margin: 50px 25px 25px;
    padding: 40px;
    text-align: center;
    transition: 0.7s;

    img {
      border-radius: 10%;
      margin-bottom: 15px;
    }

    &:hover {
      transform: scale(0.9);
    }
  }
}

//Let them Play
