// Font Families
$headingFont: "Young Serif";
$bodyFont: "Jakarta Sans";

// Font Sizes
$baseFontSize: 1rem;

// Colours:
$primary: #084b6d;
$secondary: #f4fcff;
$tertiary: #f8fbf3;
$quaternary: #fff5f5;
$quinary: #ffd698;
$pastelBlue: #d3f0f9;
$solidWhite: #fff;
